@media only screen and (max-width: 768px) {
.board{
    width: 23em;
}
.buttons{
    display: flex;
    flex-direction: column;
}



}
@media only screen and (min-width: 768px) {
   .board{ width: 35em;}
}
.board {
    height: 35em;
    
    display: grid;
    border: 5px solid black;
    border-radius: 5px;
  
}


.flex-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    touch-action: manipulation;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    background-color: rgb(0, 0, 0);
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid black;
}
body{
    background-color: rgb(124, 216, 164);
}
button{
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 5px;
}
input{
    border-radius: 5px;
}
button:hover{
    background-color: rgb(105, 214, 177);
}